/*=====================================*/
/*========== GENERAL PRESETS ==========*/
/*=====================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: black;
    max-width: 100vw;
    font-family: 'Lato', sans-serif;
}


/* ======================================*/
/* =============== HEADER ===============*/

header {
    font-weight: 300;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*====== NAV TOP RIGHT ======*/

/*===== MAIN-NAVIGATION =====*/
.header__nav-top {
    width: 100%;
    height: 6rem;
    background: rgba(255, 136, 56, 0.116);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.fa-atom {
    position: relative;
    color: rgb(255, 166, 0);
}

.header__nav-top ul{
    position: relative;
    list-style: none;
    text-decoration: none;
    padding-right: 1rem;
    height: 4rem;
}

.header__nav-top ul li {
    position: relative;
    display: inline-block;
}

.header__nav-top a {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 166, 0);
    transition: color 0.8s;
    font-weight: bold;
}


/*====== TITLE ======*/

.header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-29%);
    color: #fff;
}

.header__title h1 {
    font-weight: 700;
}

/*====== NAV BOTTOM LEFT ======*/

.header__nav-left {
    background: linear-gradient(to right bottom, rgba(62, 37, 76, 0.26), rgba(62, 37, 76, 0.281) );
}

.header__nav-left ul{
    list-style: none;
}

.header__nav-left ul li {
    display: inline-block;
}

.header__nav-left ul li a {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    transition: color 0.6s;
}

.header__nav-left ul li a:hover {
    color: #FF8838;
}


/*=============================*/
/*========== MOBILES ==========*/
/*=============================*/

@media screen and (max-width: 600px) {
    
/*=============== HEADER ===============*/

    header {
        height: 65vh;
    }

/*===== burger-menu =====*/
/*=======================*/

    .header__nav-top {
        background-color: rgba(255, 166, 0, 0);
    }

    .header__nav-topRight {
        width: 320px;
        height: 45%;
        background: rgba(255, 166, 0, 0.198);
        position: fixed;
        top: 0;
        right: -320px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 999;
        border-radius: 50% 0 0 50%;
        transition: right 0.6s;
    }

    .change {
        right: 0;
    }

    .nav-list {
        position: relative;
        top: 23%;
        left: 8%;
        min-height: 260px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .link-top {
        transition: transform 0.6s;
    }
    
    .link-top:hover {
        transform: scale(1.1);
    }

    .nav-list a {
        font-weight: 400;
        font-size: 1.4rem;
        font-weight: 700;
        margin: 1.6rem 3px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FF8838;
        position: relative;
        padding-bottom: 6px;/*on peut mettre une petite marge et le a et son before grâce au padding*/
    }

    .hamburger {
        width: 40px;
        height: 35px;
        background-color: #26262600;
        position: fixed;
        top: 30px;
        right: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .line {
        width: 100%;
        height: 5px;
        background-color: rgb(255, 166, 0);
        transition: all 0.5s;
    }

    .change .line1 {
        transform: rotateZ(-405deg) translate(-8px, 6px);
    }

    .change .line2 {
        opacity: 0;
    }

    .change .line3 {
        transform: rotateZ(405deg) translate(-9px, -9px);
    }

/*=====End of the burger-menu=====*/
/*================================*/

    .header__title {
        z-index: -1;
    }

    .header__title h1{
        text-align: center;
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .header__description {
        text-align: center;
        font-size: 130%;
        width: 70%;
    }

    header .fas {
        display: block;
        font-size: 3rem;
        padding: 30px;
    }

    .header__nav-left ul{
        list-style: none;
        display: none;
    }
}


/*=================================================*/
/*=========== TABLETS PORTRAIT, I-PHONES ==========*/
/*=================================================*/

@media screen and (min-width: 601px) and (max-width: 1024px) {

    /*=============== HEADER ===============*/

    header {
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header__nav-top {
        background: rgba(255, 166, 0, 0);
    }

    .header__nav-top ul {
        /*display: none;*/
        flex-direction: column;
    }

    .link-top {
        transition: transform 0.6s;
    }
    
    .link-top:hover {
        transform: scale(1.1);
    }

/*===== burger-menu =====*/
/*=======================*/

.header__nav-topRight {
    width: 360px;
    height: 50%;
    background: rgba(255, 166, 0, 0.239);
    position: fixed;
    top: 0;
    right: -360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    border-radius: 50% 0 0 50%;
    transition: right 0.6s;
}

.change {
    right: 0;
}

.nav-list {
    position: relative;
    top: 23%;
    left: 8%;
    width: 300px;
    min-height: 270px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__nav-topRight a {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 1.6rem 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(255, 166, 0);
    padding-bottom: 6px;/*on peut mettre une petite marge et le a et son before grâce au padding*/
}


.hamburger {
    width: 40px;
    height: 35px;
    background-color: #26262600;
    position: fixed;
    top: 30px;
    right: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 6px;
    background-color: rgb(255, 166, 0);
    transition: all 0.5s;
}

.change .line1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotateZ(405deg) translate(-9px, -9px);
}

/*=====End of the burger-menu=====*/
/*================================*/

    .header__title {
        z-index: -1;
    }

    .header__title h1{
        text-align: center;
        font-size: 600%;
        margin-bottom: 2%;
    }

    .header__description {
        text-align: center;
        font-size: 160%;
        line-height: 2rem;
        width: 70%;
    }

    header .fas {
        display: block;
        font-size: 3.5rem;
        padding: 20px;
    }

    .header__nav-left ul{
        list-style: none;
    }

    .header__nav-left ul li {
        display: none;
        font-size: 150%;
        line-height: 35px;
    }

}

/*========== AJUSTEMENT POUR CE BREAKPOINT ==========*/

@media screen and (min-width: 1025px) and (max-width: 1149px){
    .header__nav-top ul {
        font-size: 1.2rem;
    }

    .link-top {
        transition: transform 0.7s;
    }
    
    .link-top:hover {
        transform: scale(1.5);
    }
}


/*====================================================================*/
/*=============== TABLETS PAYSAGE & LAPTOPS & DESKTOPS ===============*/
/*====================================================================*/

@media screen and (min-width: 1025px) {

    header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header__nav-top ul {
        display: inline-block;
    }

    .header__nav-top ul li {
        font-weight: 300;
        padding: 1rem;
    }

    .link-top {
        transition: transform 0.7s;
    }
    
    .link-top:hover {
        transform: scale(1.2);
    }

    .header__title h1{
        text-align: center;
        font-size: 800%;
        position: relative;
        bottom: 50px;
    }

    .header__description {
        text-align: center;
        font-size: 210%;
        line-height: 2.5rem;
        width: 50%;
        position: relative;
        bottom: 20px;
    }

    header .fa-atom {
        display: block;
        font-size: 4rem;
        padding: 20px;
    }

    .header__nav-left ul{
        list-style: none;
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 1rem;
    }

    .header__nav-left ul li {
        display: inline-block;
        font-size: 150%;
        line-height: 35px;
        padding: 1.4rem;
    }

}


/*========== INCREASE THE NAV FONT SIZE FOR BIGER SCREEN ==========*/
@media screen and (min-width: 1150px) {
        
    .header__nav-top ul li {
        font-size: 150%;
    }
}

@media screen and (min-width: 1300px) {
    
.header__nav-top ul li {
    font-size: 160%;
}

.header__nav-left ul li {
    font-size: 160%;
}

}

@media screen and (min-width: 1450px) {
    
.header__nav-top ul li {
    font-size: 170%;
}

.header__nav-left ul li {
    font-size: 170%;
}

}/*========== INCREASE THE NAV FONT SIZE FOR BIGER SCREEN ==========*/
@media screen and (min-width: 1150px) {
        
    .header__nav-top ul li {
        font-size: 150%;
    }
}

@media screen and (min-width: 1300px) {
    
.header__nav-top ul li {
    font-size: 160%;
}

.header__nav-left ul li {
    font-size: 160%;
}

}

@media screen and (min-width: 1450px) {
    
.header__nav-top ul {
    padding-right: 3rem;
}

.header__nav-top ul li {
    font-size: 190%;
}

.header__nav-left ul li {
    font-size: 180%;
}

}